<a
  class="card"
  [class]="primaryType() ? 'type-' + primaryType() : 'card--neutral'"
  [routerLink]="['/pokemon', entry().name]"
  queryParamsHandling="preserve"
  [attr.aria-label]="(entry().name | titlecase) + ' ' + (entry().id | pokedexNumber)"
  appInViewport
  (inViewport)="onVisible()"
>
  <span class="card__number">{{ entry().id | pokedexNumber }}</span>
  <div class="card__art" [class.card__art--loading]="!artworkLoaded()">
    <img
      [src]="currentImage()"
      [class.card__art-img--placeholder]="artworkFailed()"
      [class.card__art-img--loaded]="artworkLoaded()"
      (load)="artworkLoaded.set(true)"
      [alt]="entry().name | titlecase"
      loading="lazy"
      decoding="async"
      (error)="onArtworkError()"
    />
  </div>
  <span class="card__name">{{ entry().name | titlecase }}</span>
</a>
