<div class="flex flex-column h-full">
  <div class="flex justify-content-center">
    <img ngSrc="assets/image/pokedex.png" width="300" height="100"  alt="Pokedex" class="pokedex">
  </div>
  <div class="flex justify-content-center">
    <div class="col-8 lg:col-6 md:col-6 sm:col-6 my-6 px-3">
      <p-inputgroup styleClass="buscar">
        <input pInputText placeholder="Nome ou Número" [(ngModel)]="pokemon"/>
        <p-button label="Buscar" (click)="buscar()"/>
      </p-inputgroup>
    </div>
  </div>
  <div class="grid justify-content-center gap-4 h-full">
    @for (pokemon of pokemons(); track pokemon) {
    <div>
      <app-card [pokemon]=pokemon></app-card>
    </div>
    } @empty {
      <div class="flex justify-content-center align-content-center">
      <p class="font-bold">Infelizmente, não há nenhum pokemon!</p>
      </div>
    }
  </div>
</div>
