.card{
  width: 302px;
}

.card-img{
  width: 300px;
  height: 200px;
  background-image: url("../../../../assets/images/ambiente.png");
  background-size: 300px 200px;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

span{
  font-size: 12px;
}
