.card{
  width: 302px;
}

.card-img{
  width: 300px;
  height: 200px;
  background-image: url("../../../../assets/images/ambiente.png");
  background-size: 300px 200px;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab {
  text-indent: 20px;
}
img{
transform: scale(1.2);
}

.config{
  padding: 0;
  margin: 0;
}

small{
  font-size: 12px;
  text-indent: 20px;
}

body{
  background: rgb(217, 210, 210);
}
