.card{
  width: 182px;
}

.card-img-top{
  width: 180px;
  height: 130px;
  background-image: url("../../../assets/images/ambiente.png");
  background-size: 180px 130px;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

span{
  font-size: 12px;
}


