<div class="card m-2">
  <div class="card-img-top">
    <img [src]="pokemon.imageGif" class="frente">
  </div>
  <div *ngIf="pokemon != undefined" class="card-body">
    <small>N°: {{pokemon.id}}</small>
    <p class="p-0">{{pokemon.name}}</p>

    <div class="d-flex">
      <div *ngFor="let tipagem of pokemon.Arraytipo">
        <div [ngClass]="'background-color-' + tipagem.type.name" class="rounded mx-2">
          <span class="py-1 px-2">{{tipagem.type.name}}</span></div>
      </div>
    </div>
  </div>
</div>
