.background{
  background: white;
}

.image{
  object-fit: cover;
  opacity: 0.9;
  border-radius: 100%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
