@defer (when spriteUrl()) {
  <div class="card cursor-pointer"
       (click)="details()"
       (mouseover)="showAnimatedSprite()"
       (mouseout)="showStaticSprite()">
    <div class="flex flex-column">
      <div class="flex justify-content-end px-3 py-2">
        <small class="font-bold">#{{ ('00' + detailsPokemon()?.id) | slice:-3 }}</small>
      </div>
      <div class="flex justify-content-center">
        <div class="pokemon-background flex justify-content-center align-items-center">
          <img
            [src]="currentSprite()"
            [alt]="detailsPokemon()?.name || 'Pokémon'"
            loading="lazy">
        </div>
      </div>
      <div class="flex justify-content-center py-2">
        <small class="font-bold">{{ detailsPokemon()?.name | titlecase }}</small>
      </div>
    </div>
  </div>
} @placeholder {
  <div class="card">
    <app-loading></app-loading>
  </div>
}

<div>
  <p-dialog
    [header]="(detailsPokemon()?.name | titlecase) + ' - #' + ('00' + detailsPokemon()?.id |  slice:-3)"
    [(visible)]="visible"
    class="smooth"
    [style]="{ width: '30vw' }"
    [breakpoints]="{ '1199px': '40vw', '575px': '90vw' }"    [modal]="true"
    [draggable]="false">
    <app-dialog [pokemon]="detailsPokemon() || undefined"></app-dialog>
  </p-dialog>
</div>
