.card {
  height: 200px;
  width: 150px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  border-radius: 10px;
}

.pokemon-background {
  background-image: url("../../../assets/image/ambiente.png");
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120px;
  width: 120px;
  overflow: hidden;
  transition: background-image 0.3s ease;
}

.sprite-container {
  position: relative;
}

.sprite-image {
  position: absolute;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.sprite-image.hidden {
  opacity: 0;
  pointer-events: none;
}

.card img {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

//.card:hover img {
//  transform: scale(1);
//}

::ng-deep {
  .smooth .p-dialog {
    transition: height 0.3s ease;
    height: auto;
    overflow: hidden;
  }
}

