<div class="flex flex-column">
  <div class="pokemon-background flex justify-content-center align-items-center mx-5">
    <img
      [src]="pokemon().sprites.versions['generation-v']['black-white'].animated.front_default || pokemon().sprites.front_default"
      [alt]="pokemon().name || 'Pokémon'">
  </div>
  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">Sobre</p-tab>
      <p-tab value="1">Tipo</p-tab>
      <p-tab value="2">Habilidades</p-tab>
      <p-tab value="3">Status</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <div class="flex justify-content-around gap-2 my-3">
          <div class="col-5 p-2 box-shadow flex justify-content-center">
            <span class="gray">Altura: <span class="font-bold">{{ pokemon().height }} m</span></span>
          </div>
          <div class="col-5 p-2 box-shadow flex justify-content-center">
            <span class="gray">Peso: <span class="font-bold">{{ pokemon().weight }} kg</span></span>
          </div>
        </div>
      </p-tabpanel>
      <p-tabpanel value="1">
        <div class="flex justify-content-around my-3">
          @for(tipo of pokemon().types; track tipo){
            <div class="col-5 p-2 box-shadow flex justify-content-center" [ngClass]="tipo.type.name">
              <p class="p-0 m-0">{{ tipo.type.name | titlecase}}</p>
            </div>
          } @empty {
            <p>Pokemón sem habilidades!</p>
          }
        </div>
      </p-tabpanel>
      <p-tabpanel value="2">
        <div class="flex justify-content-around my-3">
          @for(habilidade of pokemon().abilities; track habilidade){
            <div class="col-5 p-2 box-shadow flex justify-content-center">
              <p class="p-0 m-0">{{ habilidade.ability.name | titlecase}}</p>
            </div>
          } @empty {
            <p>Pokemón sem habilidades!</p>
          }

        </div>
      </p-tabpanel>
      <p-tabpanel value="3">

        <div>
          @for(status of pokemon().stats; track status; let i = $index){
            <div class="flex justify-content-between">
              <div>
                <p class="font-bold">{{ status.stat.name | titlecase}}</p>
              </div>
            </div>
            <div>
              <p-progressbar
                [value]="(status.base_stat / 150) * 100"
                [style]="{ height: '6px' }"
                [showValue]="false"
                [color]="statColors[i]" />
            </div>
          } @empty {
            <p>Pokemón sem status!</p>
          }
        </div>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
