.pokemon-background {
  background-image: url("../../../assets/image/ambiente.png");
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120px;
  overflow: hidden;
}

.progress-bar-0 {
  background-color: #ff5959;
}

.progress-bar-1 {
  background-color: #f5ac78;
}

.progress-bar-2 {
  background-color: #fae078;
}

.progress-bar-3 {
  background-color: #9db7f5;
}

.progress-bar-4 {
  background-color: #a7db8d;
}

.progress-bar-5 .p-progressbar-value {
  background-color: #fa92b2;
}

.progress-bar-6 {
  background-color: #c792ea;
}

.progress-bar-7 {
  background-color: #d7d7d7;
}

::ng-deep{
  .p-tablist-tab-list{
    justify-content: center;
  }
}
